################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/-Debugging-Fundamentals/FileContentIndex
